html{
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: inherit;
}

:root{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: linear-gradient(to top, #37201c, #532b21, #6f3723, #8a4622, #a4561d, #b16522, #bd7426, #c8842c, #cc9341, #d0a256, #d5b06c, #dabe82, #F3F0E8);
    margin: 0; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 h1{
    color: #a63c06;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #F3F0E8;
    width: 100%;
}

#container {
    display: grid;
}

#beerpairings{
    background-color:#F3F0E8;
    font-family:'Montserrat Subrayada', cursive; 
    color: #a63c06;
    outline: #a63c06 solid;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F3F0E8;  
}

.description{
    font-family:'Montserrat Subrayada', cursive; 
    color: #a63c06; 
}

#brewerylocator{
    background-color: #F3F0E8;
    font-family:'Montserrat Subrayada', cursive; 
    color: #a63c06;
    outline: #a63c06 solid;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F3F0E8;  
}


.navbar {
    align-content: space-between;   
    font-family:'Architects Daughter', cursive; 
    margin: 0 0 1rem 0;
    padding: 0;
    overflow: hidden;
    float: left;
    font-weight: bold;
}

.navbar-nav{
    background: #eeba0b;
    color:#a63c06;
    margin: 0;
    font-weight: bold;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    align-content:center;  
}

.nav-link{
    font-size: 22px;
    color: #a63c06;
   text-shadow:2px 2px 2px  #F3F0E8;
}

.btn{
    color: #a63c06;
}

.btn.btn{
    outline: #a63c06 solid;
    background-color: #eeba0b;
    text-shadow: 2px 2px 2px #F3F0E8;
}


@media only screen and (min-width: 260px){
    .navbar{
        width: 100%;
        float: none;
    }

    h1{
        justify-content: center;
    }
    #container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        beepairings brewerylocator 
        beerpairings brewerylocator 
        beerpairings brewerylocator
        beerpairings brewerylocator ;
    }


    #beerpairings{
        grid-area: beerpairing;
        padding: 10px 0px 10px 0;
        grid-column: 1;
        grid-row: 3/ span 22;
        margin: 0 0px 0 20px;
        text-align: center;

    }

    #brewerylocator{
        grid-area: brewerylocator;
        padding: 10px 0 0 10px;
        grid-column: 2;
        grid-row: 3/ span 22 ;
        margin: 0 10px 0 10px;
        text-align: center;
    }
    
}