html{
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: inherit;
}

:root{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: linear-gradient(to top, #37201c, #532b21, #6f3723, #8a4622, #a4561d, #b16522, #bd7426, #c8842c, #cc9341, #d0a256, #d5b06c, #dabe82, #F3F0E8);
    margin: 0; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 h1{
    color: #a63c06;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #F3F0E8;
    width: 100%;
}

#container {
    display: grid;
}

#beerpairings{
    background-color:#F3F0E8;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #a63c06;
    outline: #a63c06 solid; 
}
#brewerySearchBtn{
    border-radius: 10px;
    background-color: #d5b06c;
}
#brewerySearchBtn:hover{
    box-shadow: 10px 10px 100px 0px #F3F0E8;
    text-shadow: 100px 100px 100px 0ox #F3F0E8;
}

#beerPairBtn{
    border-radius: 10px;
    background-color: #d5b06c;
    font-family:'Montserrat Subrayada', cursive; 
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: #F3F0E8; 
}

#beerPairBtn:hover{
    box-shadow: 10px 10px 100px 0px #F3F0E8;
    text-shadow: 100px 100px 100px 0ox #F3F0E8;
}
.beerimg{
    padding:10px;
    width: 50%;;
    image-rendering: auto;
    height: 20px;
}

.beerImage{ 
    width: 20%;
    height: auto; 
}

.fa{
    display:flex;
    font-size: 20px;
    flex-direction: row-reverse;
}

#brewerylocator{
    background-color: #F3F0E8;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #a63c06;
    font-weight: bolder;
    outline: #a63c06 solid;
}

#displayRecipe{
    background-color:#F3F0E8;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #a63c06;
    outline: #a63c06 solid; 
    text-align: left;
}

#recipeSearchBtn{
    border-radius: 10px;
    background-color: #d5b06c;
    font-family:'Montserrat Subrayada', cursive; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F3F0E8;  
}

#recipe{
    font-family:'Architects Daughter', cursive; 
    font-size: 15px;
}


h4{
   color: black;
   font-family: 'Abril Fatface', cursive;
}

#triviaSection{
    background-color: #F3F0E8;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #a63c06;
    font-size: 15px;
    outline: #a63c06 solid;
    
}

#triviaQuestionBtn{
    border-radius: 10px;
    background-color: #d5b06c;
    font-family:'Montserrat Subrayada', cursive; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F3F0E8;  
   
}
#triviaQuestionBtn:hover{
    box-shadow: 10px 10px 100px 0px #F3F0E8;
    text-shadow: 100px 100px 100px 0ox #F3F0E8;
}
h3.questionAnswer{
    color: black;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
}
#triviaBtn{
    border-radius: 10px;
    background-color: #d5b06c;
    font-family:'Montserrat Subrayada', cursive; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F3F0E8;  
   
}
#triviaBtn:hover{
    box-shadow: 10px 10px 100px 0px #F3F0E8;
    text-shadow: 100px 100px 100px 0ox #F3F0E8;
}
#answers{
    background-color:#d5b06c;
    
}
.navbar {
    align-content: space-between;   
    font-family:'Architects Daughter', cursive; 
    margin: 0 0 1rem 0;
    padding: 0;
    overflow: hidden;
    float: left;
    font-weight: bold;
}

.navbar-nav{
    background: #eeba0b;
    color:#a63c06;
    margin: 0;
    font-weight: bold;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-content:center;  
}
.name{
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}

#brewSearch{
    font-size: 30px; 
}

@media only screen and (min-width: 260px){
    .navbar{
        width: 100%;
        float: none;
    }

    h1{
        justify-content: center;
    }
    #container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        brewerylocator brewerylocator brewerylocator
        beepairings displayRecipe displayRecipe 
        beerpairings displayRecipe displayRecipe
        beerpairings trivia trivia
         ;
    }

    #beerpairings{
        grid-area: beerpairing;
        padding: 10px 0px 10px 0;
        grid-column: 1;
        grid-row: 6/ span 9;
        margin: 0 0px 20px 20px;
        text-align: center;

    }
    #brewerylocator{
        grid-area: brewerylocator;
        padding: 10px 0 0 10px;
        grid-column: 1/ span 3;
        grid-row: 1/ span 5;
        margin: 0 10px 0 10px;
        text-align: center;
    }
    #displayRecipe{
        grid-area: displayRecipe;
        padding: 10px 0px 10px 0;
        grid-column: 2/ span 3;
        grid-row: 6/ span 4 ;
        margin: 0 20px 20px 20px;
        text-align: center;
    }
    #triviaSection{
        grid-area: trivia;
        padding: 10px 0px 10px 0px;
        grid-column: 2/ span 3;
        grid-row: 10 / span 2;
        margin: 0 20px 20px 20px;
        text-align: center;
    }
    
    
}